body {
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    text-align: center;
}

#contact-info {
    display: flex;
    justify-content: center;
    background-color: tan;
    padding: 10px;
    color: white;
    text-align: center;
    z-index: 99;
    width: 100%
}

#contact-info span {
    font-size: 1.2em;
}

#contact-info span a {
    color: white;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
}

#item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 100vh;
    text-align: center;
}

#item-detail-container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.detail-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clip {
    clip-path: inset(3%);
}

.item-details-short h1, h2, h3 {
    margin: 5px 0;
}

.selected img {
    opacity: .4;
}

#back-button {
    display: none;
}

#logo img {
    height: 50px;
}

button {
    background-color: tan;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

#footer {
    text-align: center;
    color: gray;
}

#footer p {
    margin-top: 0;
}