body {
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    text-align: center;
}

#contact-info {
    background-color: tan;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 99;
    width: 100%
}

#contact-info span {
    font-size: 1.2em;
}

#contact-info span a {
    color: white;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
}

#item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#item-detail-container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.detail-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-details-long {
    vertical-align: middle;
}
  
.item {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: black;
    margin: 25px 0;
    cursor: pointer;
}

.clip {
    clip-path: inset(3%);
}

@media screen and (min-width: 320px) {
    .item {
        width: 100%;
    }
    .item-details-image {
        width: 100%
    }
    .item-details-image img {
        width: 300px;
    }
    .item-details-long {
        width: 100%;
    }
    #header img {
        height: 50vh;
        opacity: .7;
    }
    #title-container {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: lighter;
    }
    #title {
        font-size: 2.5em;
        margin: 0;
    }
    #sub-title {
        width: 700px;
        font-size: 1.3em;
        letter-spacing: .3em;
        margin: 10px 0;
    }
}

@media screen and (min-width: 768px) {
    .item {
        width: 100%;
    }
    .item-details-image {
        width: 100%
    }
    .item-details-image img {
        width: 300px;
    }
    .item-details-long {
        width: 100%;
    }
    #header img {
        height: 75vh;
        opacity: .7;
    }
    #title-container {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: lighter;
    }
    #title {
        font-size: 4em;
        margin: 0;
    }
    #sub-title {
        width: 1000px;
        font-size: 2em;
        letter-spacing: .5em;
        margin: 10px 0;
    }
}

@media screen and (min-width: 1224px) {
    .item {
        width: 50%;
    }
    .item-details-image {
        width: 50%
    }
    .item-details-image img {
        width: 500px;
    }
    .item-details-long {
        width: 50%;
    }
    #header img {
        height: 90vh;
        opacity: .7;
    }
    #title-container {
        position: absolute;  
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: lighter;
    }
    #title {
        font-size: 5em;
        margin: 0;
    }
    #sub-title {
        width: 2000px;
        font-size: 2em;
        letter-spacing: .7em;
        margin: 10px 0;
    }
}

.item-details-short {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: left;
}

.item-details-short h1, h2, h3 {
    margin: 5px 0;
}

.selected img {
    opacity: .4;
}

#footer {
    text-align: center;
    color: gray;
}

#back-button {
    display: none;
}

#logo img {
    height: 50px;
}

button {
    background-color: tan;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
  }
